// src/styles/abstracts/_breakpoints.scss

@use "sass:map";
@use "sass:math";
@use "sass:meta";

$breakpoints: (
  small: 40em,
  sm: 40em,
  medium: 48em,
  md: 48em,
  large: 64em,
  lg: 64em,
  xlarge: 80em,
  xl: 80em,
  xxlarge: 100em,
  xxxlarge: 120em,
) !default;

@mixin mq($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if meta.type-of($breakpoint) == "number" and not math.is-unitless($breakpoint) {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @error "Breakpoint `#{$breakpoint}` no existe en $breakpoints.";
  }
}
