// src/styles/abstracts/_functions.scss

@use "sass:map";
@use "colors" as *;
@use "sizes";
@use "tokens" as *;
@use "typography";

@function _from-map($map, $key, $name) {
  @if map.has-key($map, $key) {
    @return map.get($map, $key);
  }

  @error "`#{$key}` no existe en $#{$name}.";
}

@function clr($color, $shade: null, $scheme: $active-theme) {
  @if $shade == null {
    @return _from-map($colors, $color, "colors");
  }

  $map: null;

  @if $scheme == "light" {
    $map: $light;
  } @else if $scheme == "dark" {
    $map: $dark;
  } @else if $scheme == $active-theme {
    $map: $active-theme;
  } @else {
    @error "unknown scheme";
  }

  @if map.has-key($map, $color, $shade) {
    @return map.get($map, $color, $shade);
  }

  @error "$colors does not have that color!";
}

@function semantic-color($color) {
  @return _from-map($semantic-colors, $color, "semantic-colors");
}

@function size($size) {
  @return _from-map(sizes.$sizes, $size, "sizes");
}

@function container($container) {
  @return _from-map($containers, $container, "containers");
}

@function radius($radius) {
  @return _from-map($radii, $radius, "radii");
}

@function ff($font-family) {
  @return _from-map(typography.$font-families, $font-family, "font-families");
}

@function fs($font-size) {
  @if map.has-key(typography.$font-size-aliases, $font-size) {
    @return map.get(typography.$font-size-aliases, $font-size);
  }

  @return var(--fs-#{$font-size});
}

@function fw($font-weight) {
  @return _from-map(typography.$font-weights, $font-weight, "font-weights");
}

@function ls($letter-spacing) {
  @return _from-map(typography.$letter-spacings, $letter-spacing, "letter-spacings");
}

@function lh($line-height) {
  @return _from-map(typography.$line-heights, $line-height, "line-heights");
}

@function layout($token) {
  @return _from-map($layout-tokens, $token, "layout-tokens");
}

@function semantic-font($font) {
  @return _from-map($semantic-fonts, $font, "semantic-fonts");
}
